<!DOCTYPE html>
<html>
<head>
    <title>Link Check</title>
</head>
<body>
    <h1>Link Check</h1>
    <form action="{{ url_for('link_results') }}" method="post">
        <label for="site_url">Site URL:</label>
        <input type="text" id="site_url" name="site_url"><br><br>
        <label for="site_functionality">Site Functionality:</label>
        <input type="text" id="site_functionality" name="site_functionality"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
